*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container, header, #menus{
    width: 100%;
}
h1{
    font-size: 3rem;
    text-align: center;
}
#menus div{
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
    border: 1px solid black;
}
#menus h2{
    position: absolute;
    right: 3%;
    bottom: 10px;
    padding: 5px;
    font-size: 2rem;
    color: #fff;
    text-shadow: 5px 5px 2px black;
}
#menu1{
    background: url(../images/dish1.jpg) no-repeat center;
    background-size: cover;
}
#menu2{
    background: url(../images/dish2.jpg) no-repeat center;
    background-size: cover;
}
#menu3{
    background: url(../images/dish3.jpg) no-repeat center;
    background-size: cover;
}
#menu4{
    background: url(../images/dish4.jpg) no-repeat center;
    background-size: cover;
}
#menu5{
    background: url(../images/dish5.jpg) no-repeat center;
    background-size: cover;
}

@media screen and (min-width:768px){
    #menus{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #menus div{
        width: 49%;
    }
    #menus div:last-of-type{
        width: 100%;
    }
}

@media  screen and (min-width:970px) {
    #menus{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #menus div{
        width: 33%;
    }
   #menus div:last-of-type{
       flex: 2 2 0;
       margin-left: 0.5px;
    }
}